vendor

time-tracker/protected/App_Data/SQLite/time-tracker.db

chat/protected/App_Code/chat.db

blog/protected/Data/Blog.db

quickstart/protected/index/quickstart/*
!quickstart/protected/index/quickstart/.gitkeep
